
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(61, 61, 61);
    margin: 0px;
    font-size: 100%;
    width: 100%;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

 /** Estilos Globales */

 .all__h {
    margin-top: 0px;
    color: white;  
}

 /** Estilos de la cabecera */

 .header {
    display: flex;
    width: 100%;
    background: center;
 }
 .header > img {
    padding: 2% 0px 1% 15%;
    width: 3em;
    height: 3em;
 }
 .header > img:last-of-type{
     display: none;
 }
 .header_nav{
     width: 100%;
     padding: 2% 10% 2% 25%;
     
     
 }
 .header_nav_ul {
    display: flex;
    justify-content: space-around;
    text-align: right;
    width: 90%;
    padding-left: 10%;
 }
 .header_nav_li--active {
     list-style: none;
     font-size: 110%;
 }
   
 .header_nav_li {
     display: inline;
     color: #A6A5A5;
     font-size: 110%;
 }
 .header_nav_li:hover {
     color: orange;
     cursor: pointer;
 }
 /** media queries del header */

 @media only screen and (max-width: 900px) {
     .header_nav {
         display: none;
     }
     .header > img:last-of-type {
         display: flex;
         justify-content: space-between;
     }
     .header > img {
         padding: 10px 30px 10px 15px;
     }
     .header {
        display: flex;
        justify-content: space-between;
     }
 
     }
     

 /** Estilos de main*/

 .main__container {
     display: flex;
     background-image: url("../img/first-background.jpg");
     background-position: right;
     background-size:cover;
     height: 40em;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     max-width: 100%;
     position:initial;
 }

 .main__container > a > button{
     margin-top: 20px;
     color: white;
     background-color: #DD6400;
     border-radius: 5px;
     width: 8em;
     height: 3em;
 }
 .main__container >a > button:hover {
    background-color:orange 
 }

 /** mediaqueries de main*/

 @media only screen and(max-width: 600px) {
     .main__container {
         display: flex;
         flex-direction: column;
     }
 }

 /** Estilos del section*/

 .section__container {
     display: inline;
     width: 100%;
    
 }
 .section__h2 {
     padding-top: 40px;
     text-align: center;
     padding-bottom: 20px;
 }
 .section__article {
     
     margin: 0px;
     width: 100%;
 }
 .section__ul > li {
    display: inline-block;
    padding: 2%;
}
 .section__ul  {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(236, 236, 236);
    margin-right: 15em;
    margin-left: 15em;
 }
 .section__ul > li > img {
     width: 70%;
 }

 /** media queries de section */

 @media only screen and (max-width: 900px) {
     .section__article{
         text-align: center;
     }
     .section__ul {
         display: flex;
         flex-direction: column;
         text-align: center;
         width: 40%;
         margin: 0px auto;
         padding: 0px;
     }
     .section__h {
         font-size: 100%;
     }
     .section__ul > li > img {
        width: 100%;
    }
 }

 /** Estilos en footer*/

 .footer__container {
     display: flex;
     text-align: center;
     flex-direction: column;
 }
 .footer__h5 {
     font-size: 100%;
 }
 .footer__ul {
     display: flex;
    
     display: inline-block;
    padding: 0px;
 }
 .footer__ul > li > a > img {
    border-radius: 50%;
    border: 1px solid rgb(221, 221, 221);
    padding: 20%;
    margin: 10%;
 }
 .footer__li {
     display:inline-block;
     border-radius: 50%;
 }
 .footer__div > a {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 4em;
     text-decoration: none;
     color: black;
 }

/** media queries footer*/

@media only screen and (max-width: 900px) {
    .footer__ul {
    }
}
 
 


 
 


